<h1>Search by Year</h1>
<hr>
<%= form_tag(students_search_path, method: 'get', id: 'SearchForm') do %>
 <%= text_field_tag :current_year, params[:current_year] %>
 <%= submit_tag 'search' %>
<% end %>

<h1>All Students</h1>
<ul>
	<% @students.each do |student| %>
		<li><%= student.fullName %> : <%= student.current_year %></li>
	<% end %>
</uL>
